.brandsContainer {
height: 100%;
}

.line {
    width: 100%;
    background: var(--white);
    height: 1px;
    margin-bottom: 30px;
}
.brands {
    display: flex;
    align-items: center;
    justify-content: center;
}

.brands > img {
    width: 160px;
    height: 60px;
    border-right: 1px solid var(--white);
    padding: 0 10px;
}

.brands > img:last-child {
    border-right: none;
    padding-right: 0;
}
.brands > img:first-child { 
    padding-left: 0;
}