/* .header {
    width: 1110px;
    height: 52px;
    display: flex;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
    margin: 0 auto;
    padding: 25px auto;
    font-size: 50px;
    color: var(--white);
    
} */

.header {
    width: 100%;
    height: 111px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    
    color: var(--white);
    
}

.headerContainer {
    display: flex;
    margin: 0 auto;
    gap: 90px;
}

.logo {
    width: 216px;
    height: 52px;
}

.nav,
.userPanel {
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
    font-size: var(--font-size14);
    font-style: normal;
    font-weight: 400;

}
/* .nav{
    padding: 18px 0 13px 25px;
}

.userPanel {
    padding: 18px 25px 13px 0;
} */
.nav,
.userPanel {
    padding: 18px 0 13px;
}

.nav>a>li {
    color: var(--white);
    font-size: var(--font-size14);
    font-style: normal;
    font-weight: 400;
}

.search {
    margin: 0;
    padding: 0;
    width: 48px;
    height: 21px;
    border: none;
    background: none;
}

.search::placeholder {

    font-size: var(--font-size14);
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}


.faSearch {
    width: 24px;
    height: 24px;
}

.userBtn,
.faSearch {
    border: none;
    background: none;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    color: var(--white);
    cursor: pointer;
}

.search::placeholder {
    color: var(--white);
}

.cartUser {
    cursor: pointer;
    display: flex;
    gap: 25px;
}